@model PuroVoteSystem.Mvc.Models.ForeDto.ChangePassword.NewPasswordModel

@{
    ViewData["Title"] = "NewPassword";
    var email = ViewBag.Email.ToString();
}

<h1>NewPassword</h1>

<h4>NewPasswordModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password1" class="control-label"></label>
                <input asp-for="Password1" class="form-control" />
                <span asp-validation-for="Password1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password2" class="control-label"></label>
                <input asp-for="Password2" class="form-control" />
                <span asp-validation-for="Password2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" value="@email" readonly class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
