@{
    var id = 1;
}
<div id="main" style="width: auto;height:400px;"></div>
<div id="actId">@id</div>










<script src="/js/echarts.js"></script>
<script src="/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="/js/signalrEchart.js"></script>
