@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script>
var connection = new signalR.HubConnectionBuilder().withUrl("/ChatHub").build();

connection.on("ReciveMessage", function () 
{
    alert("hi");
})
connection.start().then(function () { 
    connection.invoke("SendMessage","will","hi")
}).catch(function (err) { 
    return console.error(err.toString());
})
</script>