<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap.min.css">
</head>
<body>

    <di id="app">
        <!-- 阻止表单默认提交行为但是依然会触发实践对象 -->
        <form class="form-inline" @submit.prevent="add">
            <input type="text" class="form-control" readonly value="品牌名称">
            <input type="text" class="form-control" v-model.trim="brand" placeholder="填写品牌">
            <button class="btn btn-primary">添加</button>
        </form>
        <table class="table">
            <thead></thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.time|dateFormat}}</td>
                    <td class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" :id="'cb'+item.id" v-model="item.status">
                        <label class="custom-control-label" v-bind:for="'cb'+item.id" v-if="item.status===true">已启用</label>
                        <label class="custom-control-label" :for="'cb'+item.id" v-else>已禁用</label>
                    </td>
                    <td><a @click="remove(item.id)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="./lib/vue.js"></script>
    <script src="./lib/dayjs.min.js"></script>
    <script>
        //创建一个全局fiter
        //var dayjs = require('dayjs')
        // //import dayjs from 'dayjs' // ES 2015
        // dayjs().format()

        Vue.filter("dateFormat",(time)=>{
           return dayjs(time).format('YYYY-MM-DD HH:mm:ss');
        })
        const vm = new Vue({
            el:"#app",
            data:{
                //用户输入品牌名称
                brand:"",
                nextId:4,
                list:[
                    {id:1,name:"宝马",status:true,time:new Date()},
                    {id:2,name:"宝马1",status:false,time:new Date()},
                    {id:3,name:"宝马2",status:false,time:new Date()},
                ],
                
                //对象

            },
            methods:{              
                remove(id)
                {
                    console.log(id);
                    //过滤出不删的数组
                    this.list=this.list.filter(item=>item.id!==id)                  
                },
                //阻止表单默认提交行为后触发提交方法
                add()
                {
                    //如果为空 return
                    if(this.brand ==="")
                    {
                        alert('必须填写品牌名称') ;
                        return ;
                    }
                    //增加数据
                    //1 获取到要添加的对象
                    const obj = {
                        id:this.nextId,
                        name:this.brand,
                        status:true,
                        time:new Date()
                    }
                    //2 push一个对象到list集合中
                    this.list.push(obj);
                    //3 清空输入栏 id自增
                    this.brand = ""
                    this.nextId++

                }
            }

        })

    </script>
</body>
</html>